.footer {
  padding: 92px 0 24px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 544px) {
  .footer {
    padding: 60px 0 25px;
    line-height: 1;
  }
}
