.intro {
  margin: 0 auto;
  width: 77%;
  padding: 24px 0 0;
}

.intro__title {
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.04;
}

.intro__text {
  padding-right: 16%;
}

.intro__quote {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1.41;
}

.intro__quote-author {
  align-self: flex-end;
  font-size: 24px;
  line-height: 1.41;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 93%;
    margin: 0 auto;
    padding-top: 40px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 1.08;
  }

  .intro__text {
    padding-right: 0;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    width: 93%;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 40px;
  }

  .intro__text {
    padding-right: 0;
  }

  .intro__quote {
    line-height: 1.25;
  }
}
