.photo-grid {
  padding-top: 120px;
  display: flex;
}

.photo-grid__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  max-width: 95%;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}
