.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  width: 80%;
  text-align: center;
}

.header__logo {
  margin-bottom: 50px;
}

.header__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  margin-bottom: 30px;
  max-width: 70%;
}

.header__subtitle {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  max-width: 70%;
}

.header__image {
  width: 100%;
  padding: 6% 0;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
  }

  .header__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 75px;
    line-height: 1.05;
  }

  .header__subtitle {
    max-width: 95%;
  }

  .header__image {
    padding-top: 3%;
  }
}

@media screen and (max-width: 544px) {
  .header {
    width: 100%;
  }

  .header__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 1.25;
    max-width: 100%;
  }

  .header__image {
    padding: 15% 0 10%;
  }
}
