.intro {
  margin: 0 auto;
  width: 80%;
  padding: 40px 0 0;
}

.intro__title {
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.04;
}

.intro__text {
  padding-right: 25%;
}

.intro__quote {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1.41;
}

.intro__quote-author {
  align-self: flex-end;
  font-size: 24px;
  line-height: 1.41;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 93%;
    margin: 0 auto;
  }

  .intro__title {
    font-weight: 900;
    font-size: 45px;
    line-height: 1.08;
  }

  .intro__text {
    padding-right: 0;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    width: 93%;
    margin: 0 auto;
  }

  .intro__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__text {
    padding-right: 0;
  }

  .intro__quote {
    line-height: 1.25;
  }
}
